<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>词判官</title>
    <link rel="stylesheet" href="{{ static_url('css/home.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/examination-questions.css')}}">
    <script src="{{ static_url('js/lib.js') }}"></script>
    <script src="{{ static_url('js/template.js') }}"></script>
    <script src="{{ static_url('js/createQuestion.js') }}"></script>
</head>
<body>

<!-- 头部 -->
<div id="head">
    <div class="hd_user">
        <div class="hd_sculpture">
            <a id="hd_logout" href="/logout"></a>
            <img src="{{ figureurl_2 }}" alt="" id="hd_sculpture-img">
        </div>
        <div id="hd_name">{{ nickname }}</div>
        <input type="text" id="hd_ambition" title="" maxlength="30" placeholder="编辑鸡汤 ..." value=""/>
    </div>
    <div class="hd_btn-wrap">
        <a class="hd_learn" href="javascript:void(0);" ondragstart="return false">学习新词</a>
        <a class="hd_game" href="javascript:void(0);" ondragstart="return false">GAME!</a>
        <a class="hd_setting" href="javascript:void(0);" ondragstart="return false">设置</a>
    </div>
</div>
<!-- 头部END -->

<!-- 弹幕区 -->
<div id="barrage-area"></div>
<!-- 弹幕区END -->

<!-- 底部 -->
<div id="bottom">
    <!-- 学习信息 -->
    <div id="learn-info-box">
        <div class="lib_inbox">
            <div class="lib_new-learn">
                <span class="lib_title">今日新学</span>
                <span class="lib_learn"><span id="lib_new-learn-num">0</span>个</span>
            </div>

            <div class="lib_review">
                <span class="lib_title">今日复习</span>
                <span class="lib_learn"><span id="lib_review-num"></span>/2次</span>
            </div>

            <div class="lib_duration">
                <span class="lib_title">本月学习时长</span>
                <span class="lib_learn"><span id="lib_duration-num"></span>H</span>
            </div>
        </div>

        <span class="lib-point"></span>
    </div>
    <!-- 学习信息END -->


    <!-- 单词量信息 -->
    <div id="word-quantity-box">
        <div class="wqb_current-learn">
            <div class="wqd_text_box">
                <span id="wqb_wordbook">-</span>
                <a href="javascript:void(0);" class="wqb_revise" ondragstart="return false">修改我的目标</a>
            </div>
            <div class="wqd_progress-bar-box">
                <div id="wqd_cl-progress-bar"></div>
            </div>
            <div class="wqd_text_box">
                <span class="wqd_progress"><span id="wqd_complete">-</span> / <span id="wqd_sum">-</span></span>
                <span class="wqb_target-date">预计完成日期：<span id="wqb_time">-</span></span>
            </div>
        </div>

        <div class="wqb_sum-word">
            <div class="wqd_text_box">
                <span class="wqb_title">我的总单词量</span>
                <span class="wqb_level">Lv.<span id="wqb_level_num">1</span></span>
            </div>
            <div class="wqd_progress-bar-box">
                <div id="wqd_sw-progress-bar"></div>
            </div>
            <div class="wqd_text_box">
                <span class="wqd_progress"><span id="wqd_current-sum"></span> / <span id="wqd_next-level"></span></span>
                <a href="javascript:void(0);" class="wqb_upgrade" ondragstart="return false">升级考试>></a>
            </div>
        </div>
    </div>
    <!-- 单词量信息END -->
</div>
<!-- 底部END -->

</body>
<script src="{{ static_url('js/home.js') }}"></script>
</html>